
@model CustomWordList


@{
	ViewData["Title"] = "Stemming Results";
}

<div class="container mt-5">
    <h1>Custom List Items</h1>
        
    @if (Model.customWords != null && Model.customWords.Any())
    {
        <ul class="list-group">
            @foreach (var item in Model.customWords)
            {
                <li class="list-group-item">@item.word</li>
            }
        </ul>
    }
    else
    {
        <p>No items available.</p>
    }
</div>