@model CustomWordList


@{
    ViewData["Title"] = "Search Page";
}


<div class="text-center">
    <h1 class="display-4">Stemmer Page</h1>
</div>


<div>
    <h1>Word Stemmer</h1>

    @using (Html.BeginForm("Stem", "Stemmer", FormMethod.Post))
    {
        <div class="form-group">
            <label for="Query">Input Word</label>
            <input name="Query" id="InputWord" class="form-control" required />
            <br />
            <p>You can use one or more words from this list : የበሮች, የበጎች, ዳኛዎች, ደብተሮች, የመስመር, የስልክ <em>Use (,) to Separate the words</em></p>
            <input class="btn btn-outline-primary text-dark" type="submit" value="Stem" />
        </div>
    }



</div>