@*

*@

@{
	ViewData["Title"] = "Search Page";
}


<div class="text-center">
    <h1 class="display-4">Search Page</h1>
</div>



@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "d-flex" }))
{
    <input name="Query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
    <input class="btn btn-outline-primary text-dark" type="submit" value="Search" />
}
